<%= form_for(route) do |f| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trail %>
    <%= f.select :trail_id, Trail.all.collect { |trail| [trail.name, trail.id]}, include_blank: '-- Select --' %>
  </div>

  <div class="field">
    <%= f.label :transit %>
    <%= f.select :transit_id, Transit.all.collect { |transit| [transit.name, transit.id] }, include_blank: '-- Select --' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
